
.fl-footer {
	margin-top: 100px;
	padding: 0;
}

.footer-container {
	background-color: var(--darkgrey);
	padding: 0 3rem 2.5rem;
	border-top: 5.5px solid var(--green);
	width: 100% !important;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.fl-footer-list {
	margin-top: 3rem;
}

.fl-footer-title {
	letter-spacing: 1px;
	margin-bottom: 1.3rem;
	width: 100% !important;
}

.fl-footer-item { 
	margin-top: .3rem;
	font-size: 12px;
}

.fl-footer-link {
	color: var(--white);
	font-size: 14px;
}

.fl-footer-link:hover {
	color: var(--green);
}

.footer-brand-item {
	display: block !important;
	margin-top: 2.5rem;
	text-align: center;
}

.fl-footer-brand {
	margin: auto;
}

.footer-stay-connected-list {
	margin-left: 0 !important;
	text-align: center;
	width: 100%;
}

.footer-about-list,
.footer-get-involved-list {
	width: 100%;
}

.footer-bottom-container {
	background-color: var(--white2);
	width: 100% !important;
	text-align: center;
}

@media (min-width: 576px) {

	.footer-container > *:not(:first-child) {
		margin-left: 3rem;
	}

	.footer-about-list,
	.footer-get-involved-list {
		width: auto;
	}

	.footer-genre-list {
		margin-left: 0 !important;
	}

}	

@media (min-width: 992px) {

	.footer-container {
		padding: 0 170px 70px;
	}

	.fl-footer-list {
		margin-top: 70px;
	}

	.footer-genre-list {
		width: 370px;
		margin-left: 3rem !important;
	}

	.footer-brand-item {
		margin-top: 140px;
	}

	.fl-footer-link {
		font-size: 13px;
	}

	.footer-stay-connected-list {
		margin-left: auto !important;
		text-align: left;
		width: auto;
	}

}

