
html {
	font-family: 'Open Sans', sans-serif;
}

/* loading-animation */

.fl-loading-ani {
	align-content: center;
}

.fl-loading-ani-curtains::before,
.fl-loading-ani-curtains::after {
	background-color: var(--darkgrey);
}

.fl-loading-ani-circle-dance {
	background-color: var(--green);
}

/* the-end-of-loading-animation */



/* header */

.fl-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 18;
}

/* the-end-of-header */



/* navbar */

.fl-navbar {
	background-color: var(--darkgrey);
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-nav,
.fl-navbar .fl-navbar-links {
	margin-top: .6rem !important;
}

/* the-end-of-navbar */



/* navbar-brand */

.fl-navbar-brand {
	width: 120px;
}

@media only screen and (min-width: 576px) {

	.fl-navbar-brand {
		width: 150px !important;
	}

}

/* the-end-of-navbar-brand */



/* navbar-nav */

@media only screen and (min-width: 992px) {

	.fl-navbar-nav {
		margin-left: 1.5rem;
	}

	.fl-nav-item:not(:first-child) {
		margin-left: 1rem;
	}

	.fl-nav-link {
		color: var(--white) !important;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 1px;
	}

	.fl-nav-link-icon {
		font-size: 14px !important;
		margin-left: .8rem;
		position: relative;
		bottom: 2px;
		color: var(--green);
	}

	.fl-nav-item-dropdown:hover .fl-nav-link-icon {
		bottom: 0;
	}

	.fl-dropdown-menu-con {
		min-width: 200px;
		left: -90px;
		top: 1.3rem !important;
		transition: none;
	}

	.bigger-dropdown-menu-con {
		min-width: 370px;
		left: -150px;
	}

	.fl-dropdown-menu {
		background-color: var(--green);
		padding: 0 1.4rem 1.4rem;
		border-radius: 0;
	}

	.fl-dropdown-menu-item {
		margin-top: 1.4rem;
		padding: 0;
	}

	.fl-dropdown-menu-link {
		color: var(--white);
		background-color: transparent !important;
		font-size: 16px;
		padding: 0;
		width: auto;
		text-align: left;
		font-weight: normal;
		line-height: 16px;
	}

	.fl-dropdown-menu-link:hover {
		text-decoration: underline;
	}

	.fl-dropdown-arrow::before {
		border-bottom-color: var(--green);
	}

}	

/* the-end-of-navbar-nav */



/* navbar-search */

.fl-navbar-search-input {
	background-color: var(--white);
	padding: .7rem 2.5rem;
	border-radius: 2.5rem;
	color: grey;
}

.fl-navbar-search-input::-webkit-input-placeholder {
  color: grey;
}

.fl-navbar-search-input::-moz-placeholder {
  color: grey;
}

.fl-navbar-search-input::-ms-input-placeholder {
  color: grey;
}

.fl-navbar-search-input::placeholder {
  color: grey;
}

.fl-navbar-search-buttons-con {
	right: auto;
	left: .3rem;
}

.fl-navbar-search-btn {
	color: black !important; 
	font-size: 23px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/*-results-*/
.fl-navbar-results-of-search {
	background-color: var(--white);
	border-radius: 5px;
	max-height: 235px;
}	

.fl-navbar-results-of-search::-webkit-scrollbar {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.fl-navbar-results-of-search::-webkit-scrollbar-thumb {
  background: var(--green); 
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.fl-navbar-results-of-search::-webkit-scrollbar-track {
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}

.fl-navbar-results-of-search::-webkit-scrollbar-thumb:hover {
  background: var(--darkgreen); 
}

.fl-navbar-results-of-search-link {
	color: grey;
	padding: 5px 1rem;
	background-color: transparent;
	transition: color .3s, background-color .3s;
}

.fl-navbar-results-of-search-link:hover {
	background-color: var(--green) !important;
	color: var(--white);
}

@media (min-width: 992px) {

	.fl-navbar-search-parent {
		max-height: 1000px;
		opacity: 1;
		margin-top: .6rem !important;
		visibility: visible;
		width: 250px;
		margin-left: auto !important;
	}

	.fl-navbar-results-of-search {
		width: 140%;
	}

}

/* the-end-of-navbar-search */



/* navbar-toggler */

@media only screen and (max-width: 991px) {

	.fl-navbar-toggler {
		border-radius: 0;
		background-color: transparent;
		width: 30px;
		height: 25px;
		margin-left: 1rem;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line,
	.fl-navbar-toggler-line::after {
		width: 30px;
	    height: 2.5px;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line::after {
	    top: -7px;
	}   

	.fl-navbar-toggler-line::after {
		top: 7px;
	}

}

/* the-end-of-navbar-toggler */	



/* md-menu */

@media only screen and (max-width: 991px) {

	.fl-md-menu,
	.md-menu-dropdown {
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		transition: top .7s ease 0s;
		top: -100vh;
		z-index: 14;
	}

	.fl-md-menu.fl-show { 
		top: 100%;
		transition-delay: .7s;
	}

	.md-menu-dropdown {
		top: 100%;
		left: initial;
		right: -100%;
		transition: right .7s ease 0s;
		background-color: var(--green);
	}

	.md-menu-dropdown.fl-show { 
		right: 0;
		transition-delay: .7s;
	}

	.fl-md-menu-list,
	.md-menu-dropdown-list {
		background-color: var(--green);
		max-height: 76vh;
		overflow: auto;
	}

	.fl-md-menu-link,
	.md-menu-dropdown-link {
		background-color: var(--green);
		color: var(--white);
		padding: 2rem 5rem;
		text-align: left;
		font-weight: normal;
		font-size: 17px;	
		width: 100%;
	}

	.fl-md-menu-link i {
		margin-left: 1rem;
		font-size: 20px;
	}

	@media (hover: hover) {
		.fl-md-menu-link:hover,
		.md-menu-dropdown-link:hover {
			background-color: var(--darkgreen);
		}
	}	

	.fl-md-menu-link.fl-active,
	.fl-md-menu-link:active,
	.md-menu-dropdown-link:active {
		background-color: var(--darkgreen);
	}

	.md-menu-dropdown-back-btn {
		background-color: var(--darkgrey) !important;
		padding-left: 3rem;
	}

}

@media (min-width: 992px) {

	.md-menu-dropdown {
		display: none;
	}

}

/* the-end-of-md-menu */



/* header-top-container */


.header-top-container {
	background-color: var(--white);
	padding: 0 1rem;
}

.header-top-brand,
.header-top-title,
.header-top-link {
	position: relative;
	z-index: 2;
}

@media (min-width: 992px) {

	.header-top-container {
		padding: 0.4rem 1rem;
	}

}

/* the-end-of-header-top-container */



/* navbar-links */

.fl-navbar-links {
	margin-left: auto;
}

@media (min-width: 992px) {

	.fl-navbar-links {
		order: 3;
		margin-left: initial;
	}
}

/* the-end-of-navbar-links */



/* user-modal-container */



.user-modal-container {

}

.user-modal-container {

}

.user-modal-container {

}

@media (min-width: 576px) {
	
}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {

}

/* the-end-of-user-modal-container */











